<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.mge.miniprojekt.gadgeothek" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_library"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.LibrarySelectionActivity"
            android:label="@string/title_activity_library_selection" >
        </activity>
        <activity
            android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.loginUser"
            android:label="@string/title_activity_register_login" >
        </activity>
        <activity
            android:name=".activities.registerUser"
            android:label="@string/title_activity_register_user" >
        </activity>
    </application>

</manifest>
